# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
vendor/

# Environment files
.env
.env.local
.env.*.local

# Build outputs
dist/
build/
tmp/
temp/

# Docker
*.pid
*.seed
*.pid.lock
docker-compose.override.yml

# IDEs
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Kubernetes local files
*.kubeconfig
*.crt
*.key

# Ignore ArgoCD cache/state (se tiver)
.argocd/

# Custom: não subir o Notes.txt
Notes.txt